
.parallax {
    /* The image used */
    background-image: url("/assets/background/background.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-repeat: no-repeat;
    background-size: cover;
}
