<import from="./car-index"/>

<div class="container">
    <h1>Edit</h1>

    <div class="column">
        <h4>Car</h4>
        <hr/>
        <div class="column">
            <div class="columns">
                <div class="column is-4-desktop">
                    Type
                </div>
                <select value.bind="data.carTypeId" class="column is-8-desktop">
                    <option value="${type.id}"
                            repeat.for="type of carTypes">${type.carModel.carMark.name} - ${type.carModel.name} - ${type.name}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="columns">
        <button click.delegate="save()" class="is-success">Save</button>
    </div>
    <div>
        <a load="au/cars">Back to List</a>
    </div>
</div>
