<import from="./car-index" />
<import from="./car-details" />
<import from="./car-edit" />

<div class="columns m-6">
    <a load="/cars/create">Create</a>
</div>
<div class="column is-10-desktop m-6">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type Id</th>
            <th>User Id</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Updated By</th>
            <th>Updated At</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Type Id</th>
            <th>User Id</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Updated By</th>
            <th>Updated At</th>
        </tr>
        </tfoot>
        <tbody>
        <tr repeat.for="car of data">
            <th><a load="/cars/${car.id}">${car.id}</a></th>
            <td>${car.carTypeId}</td>
            <td>${car.appUserId}</td>
            <td>${car.createdBy}</td>
            <td>${car.createdAt}</td>
            <td>${car.updatedBy}</td>
            <td>${car.updatedAt}</td>
        </tr>
        </tbody>
    </table>
</div>
