<div class="columns right has-text-centered mt-6">
    <div class="column is-4-desktop is-offset-4 mt-6">
        <h1 class="title is-4">Register</h1>
        <p class="description">Register an account</p>
        <form>
            <div class="field">
                <div class="control">
                    <input value.bind="email" class="input is-medium" type="email" placeholder="Email">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input value.bind="name" class="input is-medium" type="text" placeholder="Display Name">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input value.bind="password" class="input is-medium" type="password" placeholder="Password">
                </div>
            </div>
            <button click.delegate="register($event)" type="submit"
                    class="button is-block is-primary is-fullwidth is-medium">Submit
            </button>
            <br/>
            <small><em>Or you can login <a load="/au/login">here</a></em></small>
        </form>
    </div>
</div>
